<mat-card appearance="outlined" style="background-color: mediumblue;">
    <mat-card-header>
      <mat-icon mat-card-avatar class="vertical-align-middle padding-bottom-3 size-45">info</mat-icon>
      <mat-card-title>Voltsec.io</mat-card-title>
      <mat-card-subtitle>About the project</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <div fxLayout="row wrap" fxLayoutGap="10px grid">
            <div fxLayoutAlign="center center" fxFlex="30%" fxFlex.sm="100%" fxFlex.xs="100%">
                <img style="margin-right: 15px;" width="135px" src="assets/logo/logo.jpg">
            </div>
            <div fxFlex="70%" fxFlex.sm="100%" fxFlex.xs="100%">

                <p><b>Version: βeta </b> <a title="Version Rev ID: {{app_ver}}" target="_blank" style="color: white;" href="">{{app_ver_short}}</a></p>
                <p><b>Found an issue? </b> <a title="Report issue link" target="_blank" style="color: white;" href="">Report here</a></p>
                <p><b>Send your feedback! </b> <a title="Discussions link" target="_blank" style="color: white;" href="">Discussions</a></p>

                <p><b>Author: </b> <a title="Author link kacperrybczynski.com" target="_blank" style="color: white;" href=""></a></p>
                <p><b>License: </b> <a title="License link" target="_blank" style="color: white;" href="">Apache-2.0</a></p>
            </div>
        </div>
        <p>
            <button mat-raised-button color="accent" (click)="closedialog()">Close</button>
        </p>
        
    </mat-card-content>
  </mat-card>